services:
  app:
      build: ./Backend
      ports:
        - "8080:8080"
      networks:
        - s-network
      environment:
        - SPRING_AI_OLLAMA_BASE_URL=http://ollama:11434
      depends_on:
        - postgres
        - ollama

  postgres:
      image: postgres:latest
      environment:
        POSTGRES_USER: pedro
        POSTGRES_PASSWORD: 1234
        POSTGRES_DB: tasklist
      ports:
        - "5433:5432"
      networks:
        - s-network
      volumes:
        - postgres-s-data:/var/lib/postgres/data

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    networks:
      - s-network

networks:
  s-network:
    driver: bridge

volumes:
  postgres-s-data:
  ollama_data:


