services:
  frontend:
    build: ./Frontend
    ports:
      - "3000:80"
    depends_on:
        - backend
    networks:
      - s-network
  backend:
      build: ./Backend
      ports:
        - "8080:8080"
      networks:
        - s-network
      environment:
        DATABASE_URL: ${DATABASE_URL}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
              
        JWT_SECRET: ${JWT_SECRET}
              
        OLLAMA_BASE_URL: http://ollama:11434
        OLLAMA_MODEL: granite3-dense:latest
              
        CORS_ORIGINS: http://localhost:3000
      depends_on:
        - postgres
        - ollama

  postgres:
      image: postgres:latest
      environment:
        POSTGRES_USER: ${DATABASE_USERNAME}
        POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      ports:
        - "5433:5432"
      networks:
        - s-network
      volumes:
        - postgres-s-data:/var/lib/postgresql

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    networks:
      - s-network

networks:
  s-network:
    driver: bridge

volumes:
  postgres-s-data:
  ollama_data:


